:root{
    --background-color: #0B1222;
    --primary-text: #F8FAFC;
    --secondary-text: #CBD5E1;
    --primary-color: #6366F1;
    --accent-color: #3B82F6;
    --section-background: #0E152B;
    --hover-background: #285348;
    --chip-background: #282a5e;
}