:root{
    --background-color: #0B1222;
    --primary-text: #F8FAFC;
    --secondary-text: #CBD5E1;
    --primary-color: #6366F1;
    --accent-color: #3B82F6;
    --section-background: #182445;
    --hover-background: #285348;
    --chip-background: #282a5e;
    --purple-light: #818CF8;
    --purple-dark: #4F46E5;
    --skills-card: #b9d0ff;
}