.heroSectionName {
    font-weight: 900;
    font-size: 50px;
    display: flex;
    gap: 10px;

    .firstName {
        color: var(--primary-text);
    }

    .lastName {
        color: var(--accent-color);
    }
}

.secondaryIntro {
    color: var(--secondary-text);
    font-weight: 900;
    font-size: 20px;
}

.bannerSection {
    padding-top: 40px;
    display: flex;
    justify-content: space-around;
    gap: 20px;
    margin-bottom: 40px;
}

.detailedIntro{
    color: var(--secondary-text);
}

.bannerImg{
    position: relative;
    // width: 350px;

    @media(max-width:500px){
        width: unset;
    }

    .DP{
        width: 350px;
    }
    
    .dpImgBG {
        width: 350px;
        border-radius: 20px;
        position: absolute;
        left: -10%;

        &.imgBG1{
            background-color: var(--purple-light);
            transform: rotateZ(87deg)
        }
        &.imgBG2{
            background-color: var(--chip-background);
            transform: rotateZ(17deg)
        }
    }

    .dpImg{
        display: flex;
        justify-content: center;
    }
}


.helloChip::ng-deep {
    & .mat-mdc-chip-action::before {
        background-color: var(--chip-background) !important;
        border-radius: 15px;
    }

    & .mat-mdc-chip-avatar{
        z-index: 3;
    }

    & .mat-mdc-chip-action-label{
        color: var(--secondary-text) !important;
        font-weight: bold;
    }

}

.banner{
    .bannerTxt{
        width: 50%;
        padding-top: 70px;
    }
    @media(max-width:850px){
        flex-direction: column-reverse;

        .bannerTxt{
            width: unset;
            padding-top: 0px;
        }
    }

    .bannerActionBtn{
        &::ng-deep .mdc-button__label{
            color: var(--primary-text);
            font-weight: bold;
        }

        .bannerProjectsBtn::ng-deep{
            .mat-mdc-button-touch-target{
                background-color: var(--primary-color);
                border-radius: 20px;
            }
            flex-direction: row-reverse;
            mat-icon{
                margin-left: 10px;
                margin-right: 0px;
                font-weight: bold;
                color: var(--primary-text);
            }
            .mdc-button__label{
                margin-top: -4px;
            }
        }

        .bannerContactsBtn::ng-deep{
            .mat-mdc-button-touch-target{
                border: 2px solid var(--accent-color);
                border-radius: 20px;
            }
        }
    }

    .socialsLinks{
        padding-top: 20px;
        display: flex;
        gap: 20px;
        
        img{
            width: 20px;
        }
    }
    
}