@import "tailwindcss";

.nameText, li{
    color: var(--primary-text);
}

.downloadCVBtn::ng-deep{
    .mat-mdc-button-touch-target{
        border: 2px solid var(--primary-color) !important;
        border-radius: 15px;
    }

    .mdc-button__label{
        color: var(--primary-text);
        font-weight: bold;
    }

    mat-icon{
        color: var(--accent-color);
    }
}

.darkModeBtn{
    color: var(--primary-text);
}